<div class="file_candidacy_ fixed top-0 w-full h-full bg-darkBlue-primary/50 hidden justify-center items-center sm:items-end z-20 sm:pb-0 transition-all">
    <div animate-in="animate__animated animate__fadeInUp ms-400" animate-out="animate__animated animate__fadeOutDown ms-400" class="file_candidacy_main animate__animated animate__fadeInUp ms-400 w-7/12 lg:w-10/12 md:w-11/12 sm:w-full h-5/6 bg-gray-50 dark:bg-darkBlue-secondary rounded-xl sm:rounded-2xl sm:rounded-b-none dark_border">
        <div class="flex flex-col w-full">
            <div class="hidden sm:flex justify-center items-center py-2">
                <div class="h-1 w-4/12 rounded-2xl dark:bg-bluegray-700 bg-gray-500"></div>
            </div>
            <div class="w-full text-left py-2 sm:pt-0 dark_border_b">
                <a class="cls_fl_c float-right text-rose-600 mr-3 dark:text-rose-600 text-xl cursor-pointer">
                    <i class="fas fa-times-circle"></i>
                </a>
                <p class="dark:text-purple-500 px-3 font-bold text-2xl">Candidacy Form</p>
            </div>
        </div>
        <div class="fl_candidacy_form h-[calc(100%-50px)] sm:h-[calc(100%-66px)] py-2 overflow-y-auto">
            <div style="animation-delay: .500s;" class="loading_fl animate__animated animate__fadeIn flex justify-center items-center w-full h-full">
                <i class="dark:text-purple-600 text-purple-700 animate-pulse animate-spin text-7xl fad fa-spinner-third"></i>
            </div>
        </div>
    </div>
</div>
