<% 
    const electionData = {
        voterStatus: (student_id) => {
            for(let i = 0; i < elections.voters.length; i++){
                if(elections.voters[i].student_id === student_id){
                    if(elections.voters[i].status === "Accepted"){
                        return true
                    } else {
                        return false
                    }
                }
            }
        },
        
    }
%>
<a href="/home" class="cursor-pointer hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-amber-600 w-9 text-xl text-amber-500">
        <i class="fad fa-home"></i>
    </i>
    <span class="dark:text-gray-300 text-purple-800 font-medium">Home</span>
</a>
<a class="cursor-pointer hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-teal-600 w-9 text-xl text-teal-500">
        <i class="fad fa-user"></i>
    </i>
    <span class="dark:text-gray-300 text-purple-800  font-medium">My Profile</span>
</a>
<% if(joined) { %> 
    <a href="/home/election/id/<%- elections._id %>" class="cursor-pointer hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
        <i class="ic dark:text-cyan-700 w-9 text-xl text-cyan-500">
            <i class="fad fa-info-circle"></i>
        </i>
        <span class="dark:text-gray-300 text-purple-800 font-medium">Election Status</span>
    </a>
    <a class="<%- electionData.voterStatus(userData.student_id) && userData.type === "Candidate" ? " cursor-pointer rpl hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 file_candidacy_open " : "cursor-not-allowed opacity-50 " %> transition-all py-2 px-4 flex flex-row items-center">
        <i class="ic dark:text-blue-400 w-9 text-xl text-blue-500">
            <i class="fad fa-ballot-check"></i>
        </i>
        <span class="dark:text-gray-300 text-purple-800  font-medium">File for candidacy</span>
    </a>
    <a data="<%- elections._id %>" class="<%- electionData.voterStatus(userData.student_id) ? " cursor-pointer rpl hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 candidates_open " : " cursor-not-allowed opacity-50 " %> transition-all py-2 px-4 flex flex-row items-center">
        <i class="ic dark:text-violet-400 w-9 text-xl text-violet-500">
            <i class="fad fa-list-ol"></i>
        </i>
        <span class="dark:text-gray-300 text-purple-800  font-medium">Candidates</span>
    </a>
    <a class="e_left_election cursor-pointer hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
        <i class="ic dark:text-rose-700 w-9 text-xl text-rose-500">
            <i class="fad fa-sign-out-alt"></i>
        </i>
        <span class="dark:text-gray-300 text-purple-800  font-medium">Leave Election</span>
    </a>
    <script>
        //get candidates 
        let candidate_open = false
        $(".e_menu").delegate(".candidates_open", "click", function (e) {
            e.preventDefault() 
            if(!candidate_open){
                Swal.fire({
                    icon: 'info', 
                    title: 'Getting election candidates', 
                    html: 'Please wait...', 
                    backdrop: true, 
                    allowOutsideClick: false, 
                    showConfirmButton: false, 
                    willOpen: async () => {
                        Swal.showLoading() 
                        candidate_open = true
                        try {
                            let data = new FormData() 
                            data.append("id", $(this).attr("data"))
                            const req = await fetchtimeout("/home/election/candidates/", {
                                method: "POST", 
                                headers: {
                                    "X-CSRF-TOKEN": $("meta[name='csrf-token']").attr("content")
                                }, 
                                body: data
                            })
                            if(req.ok){
                                const res = await req.text() 
                                candidate_open = false  
                                $(".election__").fadeOut(500)
                                $("body").append(res) 
                                setTimeout( () => {
                                    Swal.close()
                                    $(".cls_nav").click()
                                    Snackbar.show({ 
                                        text: `
                                            <div class="flex justify-center items-center gap-2"> 
                                                <i style="font-size: 1.25rem; color: rgba(34, 197, 94, 1);" class="fad fa-info-circle"></i>
                                                <span>Election candidates successfully fetched</span>
                                            </div>
                                        `, 
                                        duration: 3000,
                                        showAction: false
                                    })
                                }, 1000)
                            } else {
                                throw new Error(`${req.status} ${req.statusText}`)
                            }
                        } catch (e) {
                            candidate_open = false 
                            Swal.fire({
                                icon: 'error', 
                                title: 'Connection error', 
                                html: e.message,
                                backdrop: true, 
                                allowOutsideClick: false
                            })
                        }
                    }
                })
            }
        })
    </script>
<% } %>
<% if(!joined) { %> 
    <a class="e_join_election cursor-pointer hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
        <i class="ic dark:text-green-400 w-9 text-xl text-green-500">
            <i class="fad fa-sign-in-alt"></i>
        </i>
        <span class="dark:text-gray-300 text-purple-800  font-medium">Join Election</span>
    </a>
<% } %>
<a class="cursor-pointer hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-gray-400 w-9 text-xl text-gray-700">
        <i class="fad fa-cog"></i>
    </i>
    <span class="dark:text-gray-300 text-purple-800  font-medium">Settings</span>
</a>
<a class="theme_open cursor-pointer hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-orange-600 w-9 text-xl text-orange-600">
        <i class="fad fa-palette"></i>
    </i>
    <span class="dark:text-gray-300 text-purple-800  font-medium">Themes</span>
</a>
<a href="/logout" class="cursor-pointer hover:bg-gray-300/80 dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-red-600 w-9 text-xl text-red-500">
        <i class="fad fa-sign-out-alt"></i>
    </i>
    <span class="dark:text-gray-300 text-purple-800 font-medium">Sign out</span>
</a>