<a class="cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-amber-600 w-9 text-xl">
        <i class="fad fa-home"></i>
    </i>
    <span class="dark:text-gray-300 font-medium">Home</span>
</a>
<a href="/profile/<%- id %>" class="cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-teal-600 w-9 text-xl">
        <i class="fad fa-user"></i>
    </i>
    <span class="dark:text-gray-300 font-medium">My Profile</span>
</a>
<% if(election) { %>
    <a class="cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
        <i class="ic dark:text-cyan-400 w-9 text-xl">
            <i class="fad fa-ballot-check"></i>
        </i>
        <span class="dark:text-gray-300 font-medium">File for candidacy</span>
    </a>
    <a class="cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
        <i class="ic dark:text-cyan-400 w-9 text-xl">
            <i class="fad fa-list-ol"></i>
        </i>
        <span class="dark:text-gray-300 font-medium">Candidates</span>
    </a>
    <a class="cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
        <i class="ic dark:text-rose-700 w-9 text-xl">
            <i class="fad fa-sign-out-alt"></i>
        </i>
        <span class="dark:text-gray-300 font-medium">Leave Election</span>
    </a>
<% } else { %>
    <a class="e_join_election cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
        <i class="ic dark:text-green-400 w-9 text-xl">
            <i class="fad fa-sign-in-alt"></i>
        </i>
        <span class="dark:text-gray-300 font-medium">Join Election</span>
    </a>
<% } %>
<a class="cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-gray-400 w-9 text-xl">
        <i class="fad fa-cog"></i>
    </i>
    <span class="dark:text-gray-300 font-medium">Settings</span>
</a>
<a class="cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-orange-600 w-9 text-xl">
        <i class="fad fa-palette"></i>
    </i>
    <span class="dark:text-gray-300 font-medium">Themes</span>
</a>
<a href="/logout" class="cursor-pointer dark:hover:bg-bluegray-800/70 transition-all py-2 px-4 flex flex-row items-center rpl">
    <i class="ic dark:text-red-600 w-9 text-xl">
        <i class="fad fa-sign-out-alt"></i>
    </i>
    <span class="dark:text-gray-300 font-medium">Sign out</span>
</a>