<div class="account_settings_item animate__animated animate__fadeInDown ms-500 overflow-x-hidden overflow-y-auto flex flex-col text-coolgray-50">
    <form data="password" class="change_password flex flex-col gap-3 p-2">
        <button type="reset"></button>
        <div class="container flex flex-col gap-1">
            <label class="text-bluegray-900 dark:text-gray-300" for="cpass">Current Password</label>
            <div class="relative flex w-full flex-wrap items-stretch mb-2">
                <span
                    class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                    <i class="fas fa-lock dark:text-teal-600"></i>
                </span>
                <input type="password" autocomplete="off" placeholder="Current Password"
                    required name="cpass"
                    class="peer dark:border-gray-800 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none dark:focus:border-purple-700 transition-all w-full pl-10" />
                <span
                    class="show_pass animate__animated animate__bounceIn hover:block focus:block peer-focus-within:block peer-focus:block hidden transition-all z-10 right-2 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                    <i class="fas fa-eye dark:text-indigo-600 cursor-pointer"></i>
                </span>
            </div>
        </div>
        <div class="container flex flex-col gap-1">
            <label class="text-bluegray-900 dark:text-gray-300" for="pass1">New Password</label>
            <div class="relative flex w-full flex-wrap items-stretch mb-2">
                <span
                    class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                    <i class="fas fa-lock dark:text-teal-600"></i>
                </span>
                <input type="password" autocomplete="off" placeholder="New Password"
                    required name="pass1"
                    class="peer dark:border-gray-800 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none dark:focus:border-purple-700 transition-all w-full pl-10" />
                <span
                    class="show_pass animate__animated animate__bounceIn hover:block focus:block peer-focus-within:block peer-focus:block hidden transition-all z-10 right-2 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                    <i class="fas fa-eye dark:text-indigo-600 cursor-pointer"></i>
                </span>
            </div>
        </div>
        <div class="container flex flex-col gap-1">
            <label class="text-bluegray-900 dark:text-gray-300" for="pass2">Confirm Password</label>
            <div class="relative flex w-full flex-wrap items-stretch mb-2">
                <span
                    class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                    <i class="fas fa-lock dark:text-teal-600"></i>
                </span>
                <input type="password" autocomplete="off" placeholder="Confirm New Password"
                    required name="pass2"
                    class="peer dark:border-gray-800 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none dark:focus:border-purple-700 transition-all w-full pl-10" />
                <span
                    class="show_pass animate__animated animate__bounceIn hover:block focus:block peer-focus-within:block peer-focus:block hidden transition-all z-10 right-2 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                    <i class="fas fa-eye dark:text-indigo-600 cursor-pointer"></i>
                </span>
            </div>
        </div>
        <div class="container flex justify-center items-center">
            <button type="submit" class="w-full rpl dark:bg-purple-900 dark:hover:bg-purple-800 dark:text-gray-200 transition-all text-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-purple-800 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 ring-offset-gray-50 dark:ring-offset-darkBlue-secondary focus:ring-purple-600 dark:focus:ring-purple-800">Change Password</button>
        </div>
    </form>
</div>