<div class="account_settings_ fixed top-0 bg-darkBlue-primary/50 w-full h-full hidden justify-end items-center p-2 z-20">
    <div animate-in="animate__animated animate__fadeInUp ms-400" animate-out="animate__animated animate__fadeOutDown ms-400" class="account_settings_main transition-all w-96 sm:w-full h-full dark_border dark:bg-darkBlue-secondary rounded-lg">
        <div class="w-full py-3 px-2 dark_border_b">
            <a class="cls_ac_settings float-right text-rose-600 mr-2 dark:text-rose-600 text-xl cursor-pointer">
                <i class="fas fa-times-circle"></i>
            </a>
            <span class="text-xl dark:text-purple-500 text-purple-800">Settings</span>
        </div>
        <div class="account_settings_menu h-[calc(100%-53px)] flex flex-col gap-3 py-2 px-3 overflow-y-auto">
            <div class="account_settings_preload w-full h-full flex justify-center items-center">
                <i class="fad dark:text-purple-600 text-5xl animate-spin fa-spinner-third"></i>
            </div>
        </div>
    </div>
</div>