public/css/fontawesome/*
public/sweetalert/*
public/css/custom/animate.css
public/js/jquery/*
public/js/timeago.js/*
public/js/typewriterjs/*
public/js/alertify/*
public/js/howler/*
public/views/local_cdn/*
node_modules/*
tailwind/*
log/logs.log
tailwind.config.js
postcss.config.js
.env
face-api/* 
face.js
yarn-error.log
public/package/*