* {
    box-sizing: border-box;
}
html{
	line-height: normal !important;
}
/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: unset;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*popup styles*/

.popup {
    background-color: var(--l_dark);
}

/*loading*/

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loading .loading_main {
    height: 5px;
    display: none;
    width: 5%;
    background: white;
    animation: loading 2s linear infinite;
    border: none;
}

@keyframes loading {
    10% {
        width: 10%;
        background: linear-gradient(to top right, red, blue);
    }
    20% {
        width: 15%;
        background: linear-gradient(to top right, rgb(68, 219, 30), rgb(31, 221, 180));
    }
    30% {
        width: 20%;
        background: linear-gradient(to top right, rgb(240, 239, 239), rgb(218, 91, 179));
    }
    40% {
        width: 35%;
        background: linear-gradient(to top right, rgb(216, 33, 33), rgb(198, 201, 25));
    }
    50% {
        width: 45%;
        background: linear-gradient(to top right, rgb(238, 255, 0), rgb(0, 255, 157));
    }
    60% {
        width: 60%;
        background: linear-gradient(to top right, rgb(65, 10, 109), rgb(113, 113, 116));
    }
    70% {
        width: 75%;
        background: linear-gradient(to top right, red, rgb(112, 11, 143));
    }
    75% {
        width: 80%;
        background: linear-gradient(to top right, rgb(0, 0, 0), rgb(253, 253, 253));
    }
    80% {
        width: 85%;
        background: linear-gradient(to top right, rgb(0, 255, 234), rgb(156, 12, 84));
    }
    95% {
        width: 90%;
        background: green;
    }
    100% {
        width: 100%;
        background: yellowgreen;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
}

.main .body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

@media screen and (max-width: 400px) {
    .main .body .nav {
        width: 95% !important;
    }
}

@media screen and (max-width: 930px) {
    .main .body .nav {
        display: none;
    }
    .main .body .nav .logo_any .close_nav {
        pointer-events: all !important;
        visibility: visible !important;
    }
}

/*nav*/

.main .body .nav {
    /* border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; */
    background-color: var(--l_dark);
    padding: 10px 15px;
    height: 100%;
    width: 350px;
    position: fixed;
    display: none;
    --animate-duration: 300ms;
}

.main .body .nav .logo_any {
    margin-bottom: 15px;
}

.main .body .nav .logo_any .logo {
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-top: 30px;
    margin-bottom: 20px;
}

.main .body .nav .logo_any .close_nav {
    cursor: pointer;
    color: var(--red);
    font-size: 20px;
    float: right;
}

.main .body .nav .btn .group_btn {
    animation-delay: .10s;
    --animate-duration: 800ms;
}

.main .body .nav .btn .group_btn .g_btn {
    background: var(--unset);
    text-align: left;
    border: var(--dark_border);
    color: var(--txt_dark);
    transition: 1s ease;
    display: inline-block;
    text-decoration: none;
}

.main .body .nav .btn .group_btn .g_btn:hover {
    border: var(--light_border);
}

.main .body .nav .btn .group_btn:first-child .g_btn:after, .main .body .nav .btn .group_btn:last-child .g_btn:after {
    content: "";
}

.main .body .nav .btn .group_btn .g_btn:after {
    font-family: "Font Awesome 5 Free";
    content: '\f138';
    color: #777;
    float: right;
    margin-left: 5px;
    transition: 0.17s ease;
    font-weight: 900;
}

.main .body .nav .btn .group_btn .g_btn_active:after {
    color: var(--txt_clr);
    content: '\f13a';
    font-weight: 900;
}

.main .body .nav .btn .group_btn .g_btn_list {
    padding: 5px 10px;
    display: none;
}

.main .body .nav .btn .group_btn .g_btn_list .list_btn {
    border: none;
    background: var(--unset);
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    color: var(--txt_dark);
    transition: 1s ease;
    display: inline-block;
    text-decoration: none;
}

.main .body .nav .btn .group_btn .g_btn_list .list_btn:hover {
    color: var(--txt_clr);
}

.main .body .nav .btn .group_btn:last-child .wmsu_btn {
    border: 1px solid var(--red);
}

.main .body .nav .btn .group_btn:last-child .wmsu_btn a {
    color: var(--red);
    padding: 0px 200px 1px 1px;
    text-decoration: none;
}

.main .body .nav .btn .group_btn:last-child .wmsu_btn:hover {
    border: 1px solid #e61919;
}

.main .body .main_body {
    width: 100%;
    height: 100%;
}

.main .body .main_body .navigation {
    width: 100%;
    display: flex;
    background-color: var(--l_dark);
    flex-direction: row;
    padding: 10px;
}

.main .body .main_body .navigation .open_nav {
    color: var(--txt_clr);
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
}

.main .body .main_body .navigation .navigation_title {
    color: var(--txt_clr);
    font-size: 30px;
    margin: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}
.main .body .main_body .navigation .div{
    padding: 10px;
    position: relative;
}
.main .body .main_body .navigation .div .msg_main{
    position: absolute;
    width: 350px;
    height: 85vh;
    right: 10px;
    top: 55px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
}
.main .body .main_body .navigation .div .nty_main{
    position: absolute;
    width: 350px;
    height: 85vh;
    right: 10px;
    top: 55px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: none;
}
.main .body .main_body .navigation .div .ic{
    font-size: 1.50rem;
    color: var(--txt_clr);
    cursor: pointer;
    margin-right: 10px;
}
.main .body .main_body .forms {
    padding: 10px;
}

/* student id form design */

@media screen and (max-width: 460px) {
    .main .body .main_body .forms {
        padding: 5px;
    }
    .main .body .main_body .forms .st_id .all_student_id .actions .wmsu_inpt:last-child {
        width: 100px !important;
    }
    .main .body .main_body .forms .st_id .all_student_id .actions .search_id {
        display: none;
    }
    .main .body .main_body .forms .st_id .valid_id {
        width: 95% !important;
    }
}

.search_id_ic {
    color: var(--txt_clr);
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

.search_id_ic_back {
    color: var(--txt_clr);
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}

.main .body .main_body .forms .st_id {
    width: 100%;
}

.main .body .main_body .forms .st_id .all_student_id table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.main .body .main_body .forms .st_id .all_student_id .actions {
    display: flex;
    justify-content: flex-end;
}

.main .body .main_body .forms .st_id .all_student_id .actions .search_id {
    width: 250px;
    background-color: var(--unset);
    border: var(--dark_border);
    color: var(--txt_dark);
    margin-left: 1px;
    display: none;
    font-size: 11.5pt;
}

.main .body .main_body .forms .st_id .all_student_id .actions .wmsu_inpt:last-child {
    width: 200px;
    margin-left: 10px;
    background-color: var(--unset);
    border: var(--dark_border);
    color: var(--txt_dark);
    font-size: 11.5pt;
}

.main .body .main_body .forms .st_id .all_student_id .actions .actions_menu .menu_ac {
    background-color: var(--unset);
    color: var(--txt_clr);
    border: var(--dark_border);
    margin-left: 3px;
    margin-top: 0.5px;
    margin-right: 3px;
    transition: 1s ease;
    font-weight: 900;
}

.main .body .main_body .forms .st_id .all_student_id .actions .actions_menu .menu_ac:active, .main .body .main_body .forms .st_id .all_student_id .actions .actions_menu .menu_ac:hover {
    border: var(--light_border);
}

.main .body .main_body .forms .st_id .all_student_id table thead th {
    color: var(--txt_clr);
    border: var(--dark_border);
    padding: 10px;
    font-weight: 400;
}

.main .body .main_body .forms .st_id .all_student_id table thead th:first-child {
    border-top-left-radius: 5px;
}

.main .body .main_body .forms .st_id .all_student_id table thead th:last-child {
    border-top-right-radius: 5px;
}

.main .body .main_body .forms .st_id .all_student_id table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.main .body .main_body .forms .st_id .all_student_id table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.main .body .main_body .forms .st_id .all_student_id table tbody td {
    color: var(--txt_dark);
    border: var(--dark_border);
    padding: 10px;
    text-align: center;
    font-weight: 300;
    transition: 1s ease;
}

.main .body .main_body .forms .st_id .valid_id {
    background-color: var(--l_dark);
    width: 350px;
    font-weight: normal;
    border: var(--active_border);
    /* box-shadow: 0px 2px 3px 0px rgb(119 111 111 / 16%), 0px 2px 4px 0px rgb(74 72 72); */
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 0;
    transform: translate(-50%, -50%);
    display: none;
    --animation-delay: 100ms;
}

.main .body .main_body .forms .st_id .valid_id .st_id_actions .wmsu_btn {
    background-color: var(--unset);
    border: var(--dark_border);
    transition: 0.17s ease;
    color: var(--txt_dark);
    font-weight: normal;
}

.ac_t {
    width: 100%;
    text-align: left;
    font-size: 25px;
    color: var(--txt_clr);
    margin: 0;
    padding: 10px;
    padding-left: 0;
    margin-bottom: 10px;
}

.cl_val {
    color: var(--red);
    float: right;
    cursor: pointer;
    font-size: 18px;
}

.back {
    cursor: pointer;
    color: var(--txt_clr);
    font-size: 18px;
}

.main .body .main_body .forms .st_id .valid_id .st_id_actions .wmsu_btn:hover {
    border: var(--light_border);
}

.main .body .main_body .forms .st_id .valid_id .add_id .wmsu_inpt_main .wmsu_inpt {
    background-color: var(--unset);
    border: var(--dark_border);
    color: var(--txt_dark);
}

.main .body .main_body .forms .st_id .valid_id .add_id table .wmsu_inpt {
    background-color: var(--unset);
    border: var(--dark_border);
    color: var(--txt_dark);
}

.main .body .main_body .forms .st_id .valid_id .add_id .wmsu_inpt_main .wmsu_btn {
    background-color: var(--active_btn);
}

/*update */

.main .body .main_body .forms .st_id .valid_id .update .wmsu_inpt {
    background-color: var(--unset);
    border: var(--dark_border);
    color: var(--txt_dark);
}

/*delete*/

.main .body .main_body .forms .st_id .valid_id .delete .wmsu_inpt {
    background-color: var(--unset);
    border: var(--dark_border);
    color: var(--txt_dark);
}

.main .body .main_body .forms .st_id .valid_id .delete .wmsu_btn {
    background-color: var(--red);
}

/*create election*/

.create_election {
    width: 100%;
}

.create_election .election_menu {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 400px) {
    .create_election .election_menu {
        padding: 5px 15px;
        justify-content: center;
    }
}

.create_election .election_menu .add_e .add_election {
    border: var(--active_btn);
    outline: none;
    background: var(--active_btn);
    color: var(--txt_clr);
    border-radius: 5px;
    text-align: center;
    font-size: 11.5pt;
    cursor: pointer;
    font-weight: 525;
    margin-left: 5px;
    padding: 10px;
    margin-top: 3px;
}

.create_election .election_menu .search_e .wmsu_inpt {
    border: var(--dark_border);
    color: var(--txt_dark);
    background: var(--unset);
}

.create_election .elections {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    margin-top: 20px;
}

.create_election .elections .data_elec {
    width: 350px;
    height: 450px;
    background-color: var(--l_dark);
    margin-right: 15px;
    flex: 0 0 auto;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: -2rem 0 1rem -2rem #000;
    transition: 1s ease;
    cursor: pointer;
    overflow-y: auto;
}

.create_election .elections .data_elec:hover {
    box-shadow: 2px 5px 0px rgb(0 0 0 / 16%), 0px 2px 10px 0px rgb(75 193 36 / 58%);
}

@media screen and (max-width: 400px) {
    .create_election .elections .data_elec {
        width: 100%;
    }
    .create_election .elections{
        overflow-y: auto;
        flex-direction: column;
    }
}

.create_election .elections .data_elec .title {
    font-size: 1.9em;
    padding: 50px 20px;
    text-align: center;
    color: var(--txt_clr);
}

.create_election .elections .data_elec .e_data {
    padding: 10px 20px;
}

.create_election .elections .data_elec .e_data .g_btn_group .wmsu_btn {
    background-color: var(--unset);
    border: var(--dark_border);
    text-align: left;
    border-radius: 0;
}

.create_election .elections .data_elec .e_data .g_btn_group:first-child .wmsu_btn:after {
    content: '';
}

.create_election .elections .data_elec .e_data .g_btn_group .wmsu_btn:after {
    font-family: "Font Awesome 5 Free";
    content: '\f138';
    color: #777;
    float: right;
    margin-left: 5px;
    transition: 0.17s ease;
    font-weight: 900;
}

.create_election .elections .data_elec .e_data .g_btn_group .active:after {
    color: var(--txt_clr);
    content: '\f13a';
    font-weight: 900;
}

.create_election .elections .data_elec .e_data .g_btn_group .panel {
    padding: 10px;
    padding-left: 5px;
    padding-top: 5px;
    border: var(--dark_border);
    border-top: 0;
    display: none;
}

.create_election .elections .data_elec .e_data .g_btn_group .panel .panel_list {
    color: var(--txt_dark);
    padding: 10px;
    margin: 0;
}

.create_election .elections .data_elec .others {
    padding: 10px;
    margin-top: 5px;
}

.create_election .elections .data_elec .others .created {
    text-align: center;
    color: var(--txt_dark);
}

.create_election .elections .data_elec .ac {
    padding: 10px;
}

.create_election .elections .data_elec .ac .del_elec {
    float: right;
    color: var(--red);
    font-size: 1.2em;
    transition: 0.30s ease;
}

.create_election .elections .data_elec .ac .del_elec:hover {
    animation: shke 0.30s;
}

@keyframes shke {
    from {
        transform: rotate(16deg);
    }
    to {
        transform: rotate(0);
    }
}

.create_election .elections .data_elec .ac .edit_elec {
    float: left;
    color: var(--l_blue);
    font-size: 1.2em;
}

.create_election .elections .data_elec .ac .edit_elec:hover {
    animation: shke 0.30s;
}

/*create new election*/

.label {
    color: var(--txt_clr);
    font-weight: 200;
    font-size: 20px;
}

.info {
    cursor: pointer;
    margin-left: 5px;
    font-size: 11.5pt;
    color: var(--l_blue);
    position: relative;
}

.info .info_c {
    position: absolute;
    color: var(--txt_clr);
    background-color: #454546;
    padding: 10px;
    width: 200px;
    top: -51px;
    left: 15px;
    border-radius: 15px;
    border-bottom-left-radius: 0;
    display: none;
}

.create_election .create {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--l_dark);
    border: 1px solid var(--active_btn);
    border-radius: 0;
    width: 70%;
    max-height: 95%;
    overflow-y: auto;
    display: none;
    --animate-duration: 600ms;
}

.create_election .create .wmsu_inpt_main {
    padding: 20px;
}

.create_election .create .wmsu_inpt_main .wmsu_inpt {
    background-color: var(--unset);
    color: var(--txt_dark);
    border: var(--dark_border);
    font-weight: normal;
    margin-top: 4px;
}

@media screen and (max-width: 850px) {
    .create_election .create {
        width: 95% !important;
    }
}

.create_election .create .close_create {
    float: right;
    color: var(--red);
    font-size: 19px;
    cursor: pointer;
}

.create_election .create form .wmsu_inpt_main:first-child {
    padding: 5px;
}

.create_election .create form .wmsu_inpt_main:nth-child(2) {
    padding-bottom: 5px;
}

.create_election .create form .wmsu_inpt_main:nth-child(2) .wmsu_inpt {
    width: 300px;
    font-weight: normal;
}

@media screen and (max-width: 507px) {
    .create_election .create form .wmsu_inpt_main:nth-child(2) .wmsu_inpt {
        width: 100% !important;
    }
}

.create_election .create form .wmsu_inpt_main:nth-child(3) .inpt_adder {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.create_election .create form .wmsu_inpt_main:nth-child(3) .inpt_adder input {
    flex: 45%;
}

.create_election .create form .wmsu_inpt_main {
    padding: 10px 20px;
}

.create_election .create form .wmsu_inpt_main .tit {
    color: var(--txt_clr);
    font-size: 30px;
    padding: 10px;
    margin: 0;
    padding-left: 15px;
    font-weight: 600;
}

.create_election .create form .wmsu_inpt_main .wmsu_inpt {
    background-color: var(--unset);
    color: var(--txt_dark);
    border: var(--dark_border);
    font-weight: normal;
    margin-top: 4px;
    resize: both;
}

.create_election .create form .wmsu_inpt_main textarea.wmsu_inpt {
    width: 50%;
    font-weight: normal;
    font-size: 12pt;
}

@media screen and (max-width: 507px) {
    .create_election .create form .wmsu_inpt_main textarea.wmsu_inpt {
        width: 100%;
    }
}

.create_election .create form .wmsu_inpt_main:nth-child(4), .create_election .create form .wmsu_inpt_main:nth-child(3) {
    margin-bottom: 0;
    padding: 5px 20px;
}

.create_election .create form .wmsu_inpt_main .ad {
    color: var(--txt_clr);
    background-color: var(--active_btn);
    border: none;
    padding: 5px;
    font-size: 12pt;
    display: inline-block;
    font-weight: normal;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.create_election .create form .submit {
    display: flex;
    justify-content: flex-end;
}

.create_election .create form .submit .wmsu_btn {
    width: 150px;
    background-color: #4242ae;
    font-weight: normal;
}

/* list voter */

.list_voters {
    padding: 10px;
}

.list_voters .list_action {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_voters .list_action .wmsu_inpt {
    border: var(--dark_border);
    background-color: var(--unset);
    width: 250px;
    color: var(--txt_dark);
    margin-right: 5px;
}
@media screen and (max-width: 590px){
    .list_voters .list_action .wmsu_inpt{
        width: 100% !important;
    }
}
.list_voters .list_action .add_v {
    float: right;
    border: var(--active_btn);
    outline: none;
    background: var(--active_btn);
    color: var(--txt_clr);
    border-radius: 5px;
    text-align: center;
    font-size: 11.5pt;
    cursor: pointer;
    font-weight: 525;
    margin-left: 5px;
    padding: 10px;
    margin-bottom: 5px;
    padding-top: 13px;
}
.list_voters .voters{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    transition: 1s ease;
}
.list_voters .voters .voters_info{
    background-color: var(--l_dark);
    color: var(--txt_dark);
    padding: 5px;
    display: flex;
    cursor: pointer;
    width: 400px;
    box-shadow: none;
}
@media screen and (max-width: 400px){
    .list_voters .voters .voters_info{
        width: 100% !important;
    }
}
.list_voters .voters .voters_info table{
    width: 100%;
    border: 1px;
}
.list_voters .voters .voters_info .voter_pic{
    height: 45px;
    width: 45px;
    object-fit: cover;
}
.list_voters .voters .voters_info table tr td:nth-child(2) .name{
    font-size: 1.2em;
    font-weight: 400;
    margin:0;
    margin-left: 5px;
}
.list_voters .voters .voters_info table tr td:nth-child(3) .badge{
    padding: 10px;
    background-color: var(--active_btn);
    float: right;
    border-radius: 50%;
    margin-right: 10px;
    transition: 1s ease;
}
.list_voters .voters .voters_info table tr td:nth-child(3) .badge_offline{
    background-color: #3c3b3b !important;
}
.list_voters .voters .voters_info table tr td:nth-child(3) .badge_wait{
    animation: wait 1s linear infinite;
}
@keyframes wait{
    from{
        background-color: green;
    }
    to{
        background-color: white;
    }
}
.list_voters .voters .voters_info table tr td:nth-child(3) .settings{
    float: right;
    margin-right: 10px;
    font-size: 20px;
}
.list_voters .voters .voters_info table tr td:nth-child(3) .msg{
    float: right;
    margin-right: 10px;
    font-size: 20px;
}
/* main */
.main_dash .dash_election{
    width: 100%;
}
.main_dash .main_dash_t .dash_title{
    padding: 10px;
    margin: 0;
    font-size: 1.60rem;
    color: var(--txt_clr);
    --animate-duration: 100ms;
}
.main_dash .dash_election .dash_e{
    white-space: nowrap;
    overflow-x: auto;
    padding: 0 10px;
    margin-top: 10px;
}
.main_dash .dash_election .dash_e .dash_card {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    border-radius: 0;
    background-color: var(--l_dark);
    cursor: pointer;
    transition: 1s ease;
    --animate-duration: 400ms;
}
@media screen and (max-width: 570px){
    .main_dash .dash_election .dash_e .dash_card{
        width: 100%;
    }
    .main_dash .dash_election .dash_e .dash_card .card{
        flex-direction: column;
    }
    .main_dash .dash_election .dash_e .dash_card .card .icon_e_name{
        width: 100% !important;
        height: 300px !important;
    }
    .main_dash .dash_election .dash_e .dash_card .card_e_actions{
        overflow-x: auto;
    }
}
.main_dash .dash_election .dash_e .dash_card:last-child{
    margin-right: 0;
}
.main_dash .dash_election .dash_e .dash_card .card{
    display: flex;
}
.main_dash .dash_election .dash_e .dash_card .card .icon_e_name{
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.main_dash .dash_election .dash_e .dash_card .card .other .other_e_name{
    text-align: center;
    color: var(--txt_clr);
    font-size: 1.30rem;
}
.main_dash .dash_election .dash_e .dash_card .card .other {
    padding: 0 15px;
}
.main_dash .dash_election .dash_e .dash_card .card .other .ex{
    margin: 0;
    padding: 10px;
    color: var(--txt_dark);
}
.main_dash .dash_election .dash_e .dash_card .card .other .ex .cnt_e{
    float: right;
    margin-left: 10px;
    margin-top: 2px;
}
.main_dash .dash_election .dash_e .dash_card .card_e_actions{
    padding: 20px 10px;
    text-align: center;
}
.main_dash .dash_election .dash_e .dash_card .card_e_actions .wmsu_btn{
    border-radius: 5px;
    margin-right: 5px;
}
.main_dash .dash_election .dash_e .dash_card .card_e_actions .wmsu_btn:last-child{
    margin-right: 0;
}
.main_dash .dash_election .dash_e .dash_card .card_e_actions .e_start{
    background-color: var(--active-btn-2);
}
.main_dash .dash_election .dash_e .dash_card .card_e_actions .e_stop, .e_del{
    background-color: var(--red);
}
.main_dash .dash_election .dash_e .dash_card .card_e_actions .e_ac{
    background-color: #6839bb94;
}
.main_dash .user_dash {
    margin-top: 50px;
}
.main_dash .user_dash .dash_u{
    padding: 0;
    padding-left: 10px;
    margin-top: 10px;
}
.main_dash .user_dash .dash_u .dash_u_card {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--l_dark);
    float: left;
    width: 24%;
    margin-right: 10px;
    cursor: pointer;
    transition: 1s ease;
    box-shadow: none;
    --animate-duration: 400ms;
}
@media only screen and (max-width: 1125px){
    .main_dash .user_dash .dash_u .dash_u_card{
        width: 32%;
    }
    .main_dash .user_dash .dash_u .dash_u_card{
        margin-right: 5px !important;
    }
}
@media only screen and (max-width: 850px){
    .main_dash .user_dash .dash_u .dash_u_card{
        width: 100%;
    }
    .main_dash .user_dash .dash_u{
        height: 90vh; 
        overflow-y: auto;
    }
}
.main_dash .user_dash .dash_u .dash_u_card:nth-child(4n){
    margin-right: 0;
}
.main_dash .user_dash .main_dash_t .sort_users{
    width: auto;
    float: right;
    background-color: var(--dark);
    border: var(--dark_border); 
    color: var(--txt_clr);
    margin-right: 25px;
}
.main_dash .user_dash .dash_u .dash_u_card:hover{
    background-color: #282a30;
}
.main_dash .user_dash .dash_u .dash_u_card .main_dash_u .user_img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    max-width: unset;
}
.main_dash .user_dash .dash_u .dash_u_card .main_dash_u .u_name{
    color: var(--txt_clr);
    margin: 0; 
    margin-left: 10px;
}
.main_dash .user_dash .dash_u .dash_u_card .main_dash_u .badge{
    padding: 10px;
    background-color: var(--active_btn);
    float: right;
    border-radius: 50%;
    margin-right: 5px;
    transition: 1s ease;
}
.e_room_blur{
    border-radius: 5px;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.e_room_blur .e_room{
    width: 450px;
    background-color: var(--l_dark2);
    --animate-duration: 500ms;
}
@media screen and (max-width: 500px){
    .e_room_blur .e_room, 
    .active_e_voters .active_v_main{
        width: 95% !important;
    }
}
.e_room .e_room_header{
    padding: 10px;
}
.e_room .cls_e_room{
    float: right;
    cursor: pointer;
    color: var(--red); 
    font-size: 20px;
    padding: 10px;
}
.e_room .e_room_header .e_room_t{
    padding: 10px;
    color: var(--txt_clr);
    margin: 0;
    padding-left: 0; 
    font-size: 1.50rem;
    margin-bottom: 10px;
}
.e_room .e_room_list{
    padding: 10px;
}
.e_room .e_room_list .e_room_vw_pager .vw_pager{
    white-space: nowrap;
    overflow-x: auto;
    padding: 10px;
}
.e_room .e_room_list .e_room_vw_pager .vw_pager .wmsu_btn{
   border-radius: 0;
}
.e_room .e_room_list .e_room_vw_pager .pager{
    padding: 5px 10px;
}
.e_room .e_room_list .e_room_vw_pager .pager .pager_main .pager_info .info_ {
    color:var(--txt_dark);
    font-size: 1.50rem;
}
.e_room .e_room_list .e_room_vw_pager .pager .pager_main .pager_info .info_ .info_cnt{
    float: right;
    color: var(--txt_clr);
    font-size: 15pt;
}
.e_room .e_room_list .e_room_vw_pager .pager .pager_main .action_info{
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 390px){
    .e_room .e_room_list .e_room_vw_pager .pager .pager_main .action_info{
        flex-direction: column;
    }
}
.e_room .e_room_list .e_room_vw_pager .pager .pager_main .action_info .wmsu_btn{
    text-align: center;
}
.e_room .e_room_list .e_room_vw_pager .pager .pager_main .action_info .join_room{
    background-color: var(--active-btn-2);
}
.e_room .e_room_list .e_room_vw_pager .pager .pager_main .action_info .del_room{
    background-color: var(--dkred);
}
.active_e_voters{
    border-radius: 5px;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.active_e_voters .active_v_main{
    width: 450px;
    padding: 10px;
    background-color: var(--l_dark2);
    --animate-duration: 800ms;
}
.active_e_voters .active_v_main .cls_active{
    float: right ;
    color: var(--red);
    cursor: pointer;
    font-size: 20px;
}
.active_e_voters .active_v_main .active_header .header_t{
    padding: 10px 15px;
    margin: 0;
    color: var(--txt_clr);
    font-size: 1.60rem;
    text-align: center;
}
.active_e_voters .active_v_main .list_active{
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
}
.active_e_voters .active_v_main .list_active .wmsu_box {
    padding: 5px;
    cursor: pointer;
}
.active_e_voters .active_v_main .list_active .wmsu_box .ac_v_img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.active_e_voters .active_v_main .list_active .wmsu_box .ac_v_name{
    color: var(--txt_dark);
    margin: 0;
    margin-left: 5px;
}
/* logs */
.log{
    width: 100%;
    padding: 10px;
}
.txt{
    text-align: left;
    color: var(--txt_clr);
    font-size: 1.5rem;
    margin: 0;
}
.txt .wmsu_inpt{
    width: auto;
    float: right;
    padding: 8px;
    font-size: 0.9rem;
    background-color: var(--purple);
    cursor: pointer;
    color: var(--txt_clr); 
    border: none; 
    outline: none;
}
.logs {
    padding: 10px;
    color: rgb(15, 218, 15);
    border: var(--dark_border);
    margin-top: 20px;
    height: 75vh;
    overflow-y: auto;
}
.e_menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}
._menu{
    width: 500px;
    background-color: var(--l_dark2) !important;
    height: 90vh;
}
@media screen and (max-width: 500px){
    ._menu{
        width: 95% !important;
    }
}
._menu .t{
    margin: 0; 
    padding: 10px;
    color: var(--txt_clr);
    font-size: 1.50rem;
}
._menu .cls_menu {
    font-size: 20px;
}
.tab .tab_btn{
    display: flex;
    margin-bottom: 5px;
    padding: 10px;
    padding-bottom: 0;
}
.tab .tab_btn .wmsu_btn{
    border-radius: 0;
}
.tab_main .dash_u_card  .user_img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.tab_main{
    padding: 10px;
    height: 70vh;
    overflow-y: auto;
}
.tab_main .dash_u_card .u_name{
    font-size: 1.20rem;
    color: var(--txt_clr);
    margin: 0; 
    margin-left: 10px;
}
.tab_main .dash_u_card {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s ease;
    --animate-duration: 400ms;
}