<!DOCTYPE html>
<html lang="en" class="font-sans antialiased">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#090c10">
    <title>WMSU Online Voting System</title>
    <meta name="description" content="New and upgraded version of voting system">
    <meta property="og:title" content="Online Voting System">
    <meta property="og:description" content="New and upgraded version of voting system">
    <meta property="og:image" content="/assets/logo.png">
    <meta property="og:image:alt" content="Logo">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://voting-system-jayke.herokuapp.com/">
    <%- include('cdn/_auth') %>
    <!--  -->
    <link rel="stylesheet"  href="/css/tailwindcss/style.css">
    <link rel="stylesheet" type="text/css" href="/css/auth.css">
    <link rel="stylesheet" type="text/css" href="/css/custom/custom.css">
    <script>
        theme()
        async function theme(){
            const theme = localStorage.getItem('theme')
            if (theme == null) {
                //set to default theme if null 
                localStorage.setItem('theme', 'default')
                $('html').addClass("default")
                console.log("Theme", theme)
            }
            if (theme == "default") {
                $('html').addClass("default")
                console.log("Theme", theme)
            }
            if (theme == "dark") {
                $('html').addClass("dark")
                console.log("Theme", theme)
            }
        }
        document.onreadystatechange = function () {
            $(".bg-main").removeClass("hidden")
            $(".loading").remove()
        }
    </script>
</head>
<body class="bg-gray-300 dark:bg-[#090c10]">
    <div class="loading flex justify-center w-screen h-screen items-center">
        <%- include('lazy/loading') %>
    </div>
    <div class="bg-main hidden">
        <!--custom popup--->
        <div class="custom_popup"></div>
        <!---custom popup end---->
        <div class="top animate__animated animate__fadeIn flex p-2">
            <div class="logo">
                <img src="assets/logo.png" class="wmsu_logo" alt="logo">
            </div>
            <p class="break-all w-full text-center text-3xl p-2 xsm:text-lg text-gray-900 dark:text-gray-50"></p>
            <div class="nav">
                <div class="float-right mt-2 mr-4 enable">
                    <label for="toggleB" class="flex items-center cursor-pointer">
                        <!-- toggle -->
                        <div class="relative">
                            <!-- input -->
                            <input type="checkbox" id="toggleB" class="dark_mode sr-only">
                            <!-- line -->
                            <div class="block dark:bg-[#0d1117] bg-gray-100 ring-1 dark:ring-[#892CDC] w-14 h-8 rounded-full"></div>
                            <!-- dot -->
                            <div class="dot absolute left-1 top-1 w-6 h-6 rounded-full transition">
                                <i class="fa fa-moon pt-1 pl-1 text-[#313131] dark:text-gray-100"></i>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="main w-full p-3">
            <div class="rightt mt-12 grid place-items-center">
                <!---login start-->
                <div class="login wmsu_box animate__animated animate__bounceIn w-[350px] bg-gray-100 dark:border dark:border-gray-700 dark:bg-[#0d1117] shadow-xl md:w-full">
                    <div class="login_ic">
                        <i class="fa fa-user-circle text-gray-800 dark:text-gray-200"></i>
                    </div>
                    <div class="form_login">
                        <form class="auth_login sm:p-3" action="/login" method="POST">
                            <div class="wmsu_inpt_main">
                                <label for="auth_usr"></label>
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                                      <i class="fas fa-user dark:text-gray-100"></i>
                                    </span>
                                    <input type="text" autocomplete="off" placeholder="Username" required name="auth_usr" class="auth_user dark:border-gray-700 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none focus:ring-2 ring-indigo-400 transition-all w-full pl-10"/>
                                </div>
                            </div>
                            <div class="wmsu_inpt_main">
                                <label for="auth_usr"></label>
                                <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                    <span class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                                      <i class="fas fa-lock dark:text-gray-100"></i>
                                    </span>
                                    <input type="password" autocomplete="off" show-pass="true" placeholder="Password" required  name="auth_pass" class="auth_pass dark:border-gray-700 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none focus:ring-2 ring-indigo-400 transition-all w-full pl-10"/>
                                    <span class="transition-all z-10 right-2 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                                        <i class="show_pass fas fa-eye dark:text-gray-100 cursor-pointer hidden"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="wmsu_inpt_main">
                                <button
                                    class="transition-all w-full text-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-800 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-1 focus:ring-indigo-500"
                                    type="submit">Login</button>
                            </div>
                            <div class="wmsu_inpt_main reg text-center mt-8">
                                <a class="register text-green-600 cursor-pointer">Register</a>
                            </div>
                            <div class="wmsu_inpt_main last_" style="display:  none;">
                                <a class="forgot" href="?forgot">Forgot Password?</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login end-->

                <!--register start-->
                <div class="box_reg w-[350px] hidden sm:w-full shadow-xl bg-gray-50 dark:border dark:border-gray-700 dark:bg-[#0d1117] p-3 rounded-xl">
                    <div class="verify">
                        <div class="flex justify-end">
                            <i class="close_reg_box fa fa-times-circle cursor-pointer text-red-600 float-right text-xl"></i>
                        </div>
                        <p class="t fa fa-search text-purple-900 dark:text-indigo-500 w-full text-center text-6xl mb-6 mt-6"></p>
                        <form class="get_id p-3">
                            <div class="flex">
                                <input autocomplete="off" required class="st_id dark:bg-transparent dark:border dark:border-gray-700 dark:text-gray-100 dark:placeholder-gray-400 dark:focus:border-purple-500 placeholder-gray-600  bg-gray-200 border-2 transition border-gray-200 rounded-lg w-full p-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" placeholder="Enter Student ID" name="id" type="text">            
                            </div>
                            <div class="flex justify-end">
                                <button type="submit" class="bg-purple-900 dark:bg-purple-700 rounded-md outline-none border-0 border-none p-2 text-base text-gray-100 mt-2 w-3/12"><i class="ic fa fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="register_s" style="display: none;"> 
                        <form class="reg_student">
                            <div class="first">
                                <div class="flex">
                                    <input type="hidden" class="my_student_id" name="student_id">
                                    <i class="back_reg fas fa-arrow-circle-left text-2xl cursor-pointer p-2 pl-0 dark:text-gray-100"></i>
                                </div>
                                <div class="flex justify-center p-2 text-purple-900 dark:text-indigo-500 w-full text-center text-6xl mb-6">
                                    <i class="fa fa-user-plus"></i>
                                </div>
                                <div class="inputs p-2">
                                    <div class="flex gap-1">
                                        <input autocomplete="off" required class="dark:bg-transparent dark:border dark:border-gray-700 dark:text-gray-100 dark:placeholder-gray-400 dark:focus:border-purple-500 placeholder-gray-600  bg-gray-200 border-2 transition border-gray-200 rounded-lg w-full p-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="fname" type="text" placeholder="Firstname">
                                        <input autocomplete="off" required class="dark:bg-transparent dark:border dark:border-gray-700 dark:text-gray-100 dark:placeholder-gray-400 dark:focus:border-purple-500 placeholder-gray-600  bg-gray-200 border-2 transition border-gray-200 rounded-lg w-full p-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="mname" type="text" placeholder="Middlename">
                                    </div>
                                    <div class="flex">
                                      <input autocomplete="off" required class="mt-2 dark:bg-transparent dark:border dark:border-gray-700 dark:text-gray-100 dark:placeholder-gray-400 dark:focus:border-purple-500 placeholder-gray-600  bg-gray-200 border-2 transition border-gray-200 rounded-lg w-full p-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="lname" type="text" placeholder="Lastname">            
                                    </div>
                                    <div class="flex gap-1 mt-2">
                                        <input autocomplete="off" list="crs" required class="dark:bg-transparent dark:border dark:border-gray-700 dark:text-gray-100 dark:placeholder-gray-400 dark:focus:border-purple-500 placeholder-gray-600  bg-gray-200 border-2 transition border-gray-200 rounded-lg w-full p-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="course" type="text" placeholder="Course">  
                                        <datalist id="crs">
                                            <option value="BSCS">
                                            <option value="BSED">
                                            <option value="GEN ED">
                                        </datalist>
                                        <input autocomplete="off" list="yr" required class="dark:bg-transparent dark:border dark:border-gray-700 dark:text-gray-100 dark:placeholder-gray-400 dark:focus:border-purple-500 placeholder-gray-600 bg-gray-200 border-2 transition border-gray-200 rounded-lg w-full p-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" name="yr" type="text" placeholder="Year">  
                                        <datalist id="yr">
                                            <option value="">Year</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </datalist>
                                    </div>
                                    <div>
                                        <select name="type" required class="mt-2 appearance-none w-full dark:bg-[#0d1117] dark:border dark:border-gray-700 dark:text-gray-100 dark:placeholder-gray-400 dark:focus:border-purple-500 bg-gray-200 border-2  border-gray-200 text-gray-700 p-3 rounded-lg leading-tight focus:outline-none focus:bg-white focus:border-purple-500">
                                            <option value="">Select User Type</option>
                                            <option value="ca">Candidate</option>
                                            <option value="st">Student / Voter</option>
                                        </select>
                                    </div>
                                    <div>
                                        <button type="button" class="next_cred dark:bg-purple-700 button_next bg-purple-900 hover:bg-purple-800 text-white transition font-bold py-3 px-4 rounded-md focus:outline-none focus:shadow-outline mt-4 w-full"><i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="cred p-2" style="display: none;">
                                <div class="flex">
                                    <i class="back_reg_2 fas fa-arrow-circle-left text-2xl cursor-pointer p-2 pl-0 dark:text-gray-100"></i>
                                </div>
                                <div class="flex justify-center p-2  text-purple-900 dark:text-indigo-500 w-full text-center text-6xl mb-6">
                                    <i class="fa fa-key"></i>
                                </div>
                                <div class="flex">
                                    <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                        <span class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                                          <i class="fas fa-user dark:text-gray-100"></i>
                                        </span>
                                        <input type="text" autocomplete="off" placeholder="Username" required name="usr" class="dark:border-gray-700 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none focus:ring-2 ring-purple-500 transition-all w-full pl-10"/>
                                    </div>  
                                </div>
                                <div>
                                    <div class="relative flex w-full flex-wrap items-stretch mb-3">
                                        <span class="z-10 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                                        <i class="fas fa-lock dark:text-gray-100"></i>
                                        </span>
                                        <input type="password" autocomplete="off" show-pass="true" placeholder="Password" required  name="auth_pass" class="dark:border-gray-700 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none focus:ring-1 ring-purple-500 transition-all w-full pl-10"/>
                                        <span class="transition-all z-10 right-2 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3">
                                            <i class="show_pass fas fa-eye dark:text-gray-100 cursor-pointer hidden"></i>
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="bg-purple-900 dark:text-gray-300 dark:bg-purple-700/60 hover:bg-purple-800 text-white transition font-bold py-3 px-4 rounded-lg focus:outline-none focus:shadow-outline mt-4 w-full">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--register end-->
            </div>
        </div>
    </div>
    <script src="js/auth.js"></script>
    <script src="/js/toast.js"></script>
</body>

</html>