* {
	box-sizing: border-box;
}

html{
	line-height: normal !important;
}
body {
	margin: 0; 
	padding: 0; 
	background-color: var(--dark);
	
}
/*popup styles*/
.popup{
	background-color: var(--l_dark);
}
/*end*/
.top .logo .wmsu_logo{
	height: 70px; 
	width: 70px; 
}
/*main*/
.main .rightt .login{
	padding: 15px;
	border-radius: 15px;
	--animation-duration: 100ms;
}
.main .rightt .form_login{
	padding: 5px;
}
.main .rightt .form_login .auth_login .wmsu_inpt_main{
	margin-bottom: 15px;
}
.main .rightt .form_login .auth_login .wmsu_inpt_main .wmsu_inpt{
	border-radius: 10px;
	display: flex;
}
.main .rightt .form_login .auth_login .wmsu_inpt_main .wmsu_inpt .inpt_ic{
	margin-top: 2px;
}
.main .rightt .form_login .auth_login .wmsu_inpt_main .wmsu_inpt input{
	outline: none; 
	border: none;
	font-size: 12.5pt; 
	font-weight: 550; 
	background: unset;
 	padding-left: 10px;
	width: 100%;
}
.main .rightt .form_login .auth_login .wmsu_inpt_main:nth-child(3) .wmsu_btn:active{
	transform: translateY(3px);
}
.main .rightt .form_login .auth_login .wmsu_inpt_main:nth-child(5) {
	margin-top: 21px;
}
.main .rightt .form_login .auth_login .wmsu_inpt_main .wmsu_inpt .ic{
	margin-top: 2px; 
	margin-left: 5px;
	cursor: pointer;
}
.main .rightt .form_login .auth_login .wmsu_inpt_main:nth-child(5) .forgot{
	display: flex;
	width: 100%;
	justify-content: center;
	text-decoration: none; 
	color: var(--red);
	font-weight: 700;
	font-size: 15px;
}
.button_next{
	transition: 1s ease;
}
.button_next:hover{
	padding-left: 3rem;
}
.custom-shape-divider-bottom-1629426746 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1629426746 svg {
    position: relative;
    display: block;
    width: calc(176% + 1.3px);
    height: 380px;
}

.custom-shape-divider-bottom-1629426746 .shape-fill {
    fill: #6B21A8;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1629426746 svg {
        width: calc(189% + 1.3px);
        height: 268px;
    }
}
