<div class="fixed right-2 sm:right-0 bottom-0 dark:bg-darkBlue-secondary w-96 sm:w-full h-[calc(100vh-90px)] dark_border z-10 rounded-t-md">
    <div class="flex flex-row py-1.5 px-1.5 gap-1 dark_border_b">
        <div class="flex-[60%] flex flex-row items-center">
            <img class="h-12 w-12 object-cover rounded-full" src="/assets/image.jpg">
            <div class="flex flex-col px-1.5 gap-[1px]">
                <span class="dark:text-gray-300 text-sm">Jake Peregrino Velasco</span>
                <span class="dark:text-gray-300 text-xs">Active Now</span>
            </div>
        </div>
        <div class="flex-[40%] flex justify-end items-center">
            <a class="rpl cursor-pointer px-2.5 py-2 dark:text-gray-300 text-xl rounded-full">
                <i class="fas fa-times-circle"></i>
            </a>
        </div>
    </div>
    <div class="conatiner flex flex-col h-[calc(100%-61px)]">
        <div class="flex-[90%] gap-2.5 flex flex-col dark_border_b py-1.5 px-1 overflow-y-auto">
            <div class="sent flex w-full justify-end">
                <div class="dark:bg-indigo-900 shadow-md text-sm max-w-[75%] rounded-md px-2 py-1.5 break-words dark:text-gray-300">
                    fjaksf f saf fa f f sas ffsfsf sf fs 
                </div>
            </div>
            <div class="sent flex w-full justify-end">
                <div class="dark:bg-indigo-900 shadow-md text-sm max-w-[75%] rounded-md px-2 py-1.5 break-words dark:text-gray-300">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur repudiandae ut animi excepturi, officiis aut. Voluptate itaque placeat cum laboriosam beatae voluptas reiciendis quia rem corrupti, sed, mollitia voluptatibus aliquam?
                </div>
            </div>

            <div class="received flex w-full justify-start">
                <div class="dark:bg-darkBlue-100 shadow-md text-sm max-w-[75%] rounded-md px-2 py-1.5 break-words dark:text-gray-300">
                    jhfjasfhjahfjf
                </div>
            </div>
            <div class="received flex w-full justify-start">
                <div class="dark:bg-darkBlue-100 shadow-md text-sm max-w-[75%] rounded-md px-2 py-1.5 break-words dark:text-gray-300">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis aliquam exercitationem fugiat omnis earum et autem fugit vitae eveniet vel corporis consequatur reprehenderit deleniti, at magni! Ad dicta similique tempore!
                </div>
            </div>

            <div class="sent flex w-full justify-end">
                <div class="dark:bg-indigo-900 shadow-md text-sm max-w-[75%] rounded-md px-2 py-1.5 break-words dark:text-gray-300">
                    fjaksf f saf fa f f sas ffsfsf sf fs 
                </div>
            </div>
            <div class="sent flex w-full justify-end">
                <div class="dark:bg-indigo-900 shadow-md text-sm max-w-[75%] rounded-md px-2 py-1.5 break-words dark:text-gray-300">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur repudiandae ut animi excepturi, officiis aut. Voluptate itaque placeat cum laboriosam beatae voluptas reiciendis quia rem corrupti, sed, mollitia voluptatibus aliquam?
                </div>
            </div>
        </div>
        <div class="flex-[10%] ">
            <div class="flex flex-row items-center h-full">
                <div class="flex-[10%] p-1">
                    <input type="file" class="hidden">
                    <a class="rpl dark:bg-indigo-700 rounded-full dark:text-gray-300 px-2.5 py-2 cursor-pointer">
                       <i class="fas fa-image"></i>
                    </a>
                </div>
                <div class="flex-[90%] p-1 overflow-x-hidden">
                    <div class="relative w-full">
                        <div contenteditable="true" class="text pr-8 dark:bg-darkBlue-secondary dark_border overflow-y-auto max-h-20 dark:text-gray-200 text-input w-full p-2 outline-none dark:focus:border-purple-700 transition-all rounded-lg"></div>
                        <a class="right-2.5 top-2 absolute cursor-pointer dark:text-cyan-600 text-xl">
                            <i class="fad fa-paper-plane"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>