<% if(chat.length != 0){ 
        for(let i = 0; i < chat.length; i++) { 
            if(chat[i].id.toString() == userid.toString()){ %>
                <div class="chat_sent">
                    <div class="sent_msg"><%= chat[i].msg %></div>
                </div>
            <% } else { %>
                <div class="chat_received">
                    <div class="received_msg"><%= chat[i].msg %></div>
                </div>
            <% }
        }
    } else { %>
    <div class="no_chats" style="display: grid;height: 100%;width: 100%;place-items: center;">
        <p class="no_name" style="color: var(--txt_clr); font-size: 25px;" text="<%= 'Chat with ' + fname + ' now ' %>"></p>
        <script>
            var msg_tw = new Typewriter(".no_name", {
                loop: true,
            })
            msg_tw.typeString('Spread ❤️ to everyone')
                .pauseFor(500)
                .deleteAll()
                .typeString($(".no_name").attr("text"))
                .changeCursor('*')
                .pauseFor(1000)
                .deleteAll()
                .changeCursor('_')
                .deleteAll()
                .start()
        </script>
    </div>
<% } %>