<div class="h-[72.5vh] shadow-2xl w-[380px] fixed bottom-[70px] right-[5px] sm:w-[98%] sm:right-[3px] float_messenger"  data-id='<%-msg.my_ka_chatid%>'>
    <div class="messenger_header inline-flex w-full cursor-pointer bg-red-800 dark:bg-gray-800 p-[5px] rounded-t-lg">
        <img class="object-cover h-[50px] w-[50px]" src="/assets/logo.png" alt="user_img">
        <span class="p-3 dark:text-gray-200 text-gray-50 text-lg leading-normal font-medium pl-1"><%= msg.name %></span>
        <p class="cls_float_msg text-right fas fa-times-circle flex-1 cursor-pointer text-gray-200 dark:text-red-600 text-xl p-[10px]"></p>
    </div>
    <div class="main_messaging bg-[#f8f6f6] dark:bg-[#0d1117] h-full rounded-b-md">
        <div class="chats overflow-y-auto p-2 overflow-x-hidden h-[85%]">
            <!-- <div class="laoding_chats flex justify-center items-center w-full h-full overflow-hidden p-3">
                <i class="fa fa-cog fa-spin text-8xl dark-text-gray-300 text-indigo-700"></i>
            </div> -->
            <div class="chat_sent">
                <div class="sent_msg dark:bg-blue-800">Hi</div>
            </div>
            <div class="chat_received">
                <div class="received_msg dark:bg-gray-800">Hello</div>
            </div>
            <div class="chat_received">
                <div class="received_msg dark:bg-gray-800">Hello fas f f sa f f fsaf fsaf  fasf a f f f saf  sa  fsf sa f sfa </div>
            </div>
            <div class="chat_sent">
                <div class="sent_msg dark:bg-blue-800">Hi fa sfsfaffsfa ff f ff fsfs sffs fs fsf fs fs f fs sfsf fs sf fssf </div>
            </div>
            <div class="typing hidden">
                <div class="typing_msg">
                    <div class="dot-typing"></div>
                </div>
            </div>
        </div>
        <div class="container h-[10%] px-2">
            <form class="send_chat flex flex-row">
                <div class="relative flex w-full flex-wrap items-stretch mt-[1px]">
                    <textarea autocomplete="off" class="pr-10 shadow-xl h-full resize-none dark:border-gray-700 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative dark:bg-transparent dark:text-gray-50 bg-white rounded-lg text-base leading-tight border border-blueGray-300 outline-none focus:outline-none focus:ring-1 ring-inset ring-indigo-400 transition-all w-full"></textarea>
                    <span class="transition-all right-4 z-10 top-2 h-full leading-snug font-normal text-center text-blueGray-300 absolute bg-transparent rounded text-lg items-center justify-center w-8 pl-3 py-3">
                        <i class="send_chat fas fa-paper-plane dark:text-gray-300 cursor-pointer"></i>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>