<div class="active_e_voters blur">
    <div class="wmsu_box wmsu_box_dark active_v_main animate__animated animate__bounceIn">
        <i class="cls_active fa fa-times-circle"></i>
        <div class="active_header">
            <p class="header_t">Active Voters</p>
        </div>
        <div class="list_active">
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wmsu_box wmsu_box_dark-2">
                <table width="100%">
                    <tr>
                        <td width="10px">
                            <img class="ac_v_img" alt="v_img" src="/assets/logo.png">
                        </td>
                        <td>
                            <p class="ac_v_name">Jake Peregrino Velasco</p>
                        </td>
                        <td width="100px">
                            <div class="badge"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>