<div class="create_election">
    <div class="election_menu">
        <i class="search_id_ic e_c_ic fas fa-search" style="display: none;"></i>
        <i class="search_id_ic_back fas e_back_ic fa-arrow-circle-left" style="display: none;"></i>
        <div class="search_e">
            <input type="text" name="election_search" class="s_election wmsu_inpt wmsu_inpt_focus"
                placeholder="Search Election">
        </div>
        <div class="add_e">
            <a class="add_election fa fa-plus"></a>
        </div>
    </div>
    <div class="main_dash">
        <div class="dash_election">
            <div class="main_dash_t animate__animated animate__slideInLeft">
                <p class="dash_title">Elections</p>
            </div>
            <div class="dash_e">
                 <%- include('elections', {elections: elections}) %>
            </div>
        </div>
    </div>
    <div class="create wmsu_box">
        <i class="close_create fa fa-times-circle"></i>
        <div class="wmsu_inpt_main pass" style="display: none;">
            <label class="label" for="passcode">Election Passcode</label>
            <input type="text" class="wmsu_inpt wmsu_inpt_focus valid_passcode" readonly>
        </div>
        <form class="election_name">
            <div class="wmsu_inpt_main">
                <p class="tit">Create New Election</p>
            </div>
            <div class="wmsu_inpt_main">
                <label for="elec_name" class="label">Election Title</label><br>
                <input type="text" name="elec_name" placeholder="Election Title" class="wmsu_inpt wmsu_inpt_focus" required>
            </div>
            <div class="wmsu_inpt_main">
                <div class="pos_adder">
                    <div class="inpt_adder">
                        <input type="text" name="position" class="wmsu_inpt wmsu_inpt_focus" placeholder="Position" required>
                        <input type="number" name="max_vote" class="wmsu_inpt wmsu_inpt_focus" placeholder="Max Vote" required>
                    </div>
                </div>
                <a class="ad add_pos">Add Position</a>
            </div>
            <div class="wmsu_inpt_main">
                <div class="course_adder">
                    <div class="course_inpt_adder">
                        <label for="course" class="label">Courses<i class="info info_party far fa-question-circle">
                            <div class="info_c">Separate all courses with comma (,)</div>
                        </i></label><br>
                        <textarea name="course" class="wmsu_inpt wmsu_inpt_focus" placeholder="Course e.g BSCS, BSED, GEN ED"></textarea>
                    </div>
                </div>
            </div>
            <div class="wmsu_inpt_main">
                <div class="course_adder">
                    <div class="course_inpt_adder">
                        <label for="partylist" class="label">Partylist<i class="info info_party far fa-question-circle">
                            <div class="info_c">Separate all partylist with comma (,)</div>
                        </i></label><br>
                        <textarea name="partylist" class="wmsu_inpt wmsu_inpt_focus" placeholder="Partylist e.g One Party, Una Party"></textarea>
                    </div>
                </div>
            </div>
            <div class="wmsu_inpt_main submit">
                <button type="submit" class="wmsu_btn">Create</button>
            </div>
        </form>
    </div>
</div>
<script src="/control/js/create_election.js"></script>