<div class="voters_ fixed transition-all justify-end items-center sm:items-end hidden z-40 bg-darkBlue-primary/60  top-0 w-full h-full p-2 sm:p-0">
    <div class="voters_main dark:bg-darkBlue-secondary bg-gray-100 rounded-lg sm:rounded-b-none dark_border w-96 sm:w-full h-full sm:h-5/6" animate-in="animate__animated animate__fadeInUp ms-500" animate-out="animate__animated animate__fadeOutDown ms-500">
        <div class="container px-2 dark_border_b py-2.5">
            <a class="close_voters rpl float-right rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-700">
                <i class="fad fa-times-circle"></i>
            </a>
            <span class="dark:text-purple-500 text-purple-700 text-xl p-1 ">Voters</span>
        </div>
        <div class="gap-2 flex flex-row sm:grid sm:grid-cols-2 py-2 px-3">
            <a class="e_ac relative rpl rounded-md justify-center px-3 py-2 flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-teal-600 text-teal-500">
                <i class="fad fa-user-check"></i>
                <span class="text-sm dark:text-gray-300 text-bluegray-900 sm:hidden">Accepted</span>
            </a>
            <a class="e_pend relative rpl rounded-md justify-center px-3 py-2 flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-amber-600 text-amber-500">
                <i class="fad fa-users"></i>
                <span class="text-sm dark:text-gray-300 text-bluegray-900 sm:hidden">Pending</span>
                <% if(pending !== 0){ %>
                    <div class="e_pend_count absolute right-0 top-[-2px] dark:bg-purple-700 bg-purple-500 text-gray-50 dark:text-gray-300 w-5 h-5 text-center rounded-full text-sm"><%- pending %></div>
                <% } %>
            </a>
        </div>
        <div class="search_acp  w-full">
            <div class="w-full">
                <div class="container px-4 flex flex-row">
                    <input type="search" placeholder="Search" class="search-voter w-full outline-none dark_border dark:bg-transparent py-2 px-4 dark:text-gray-300 rounded-lg focus:border-purple-500 dark:focus:border-purple-700 transition-all">
                </div>
            </div>
        </div>
        <div class="acp_voters pt-5 flex flex-col transition-all gap-3 py-2 px-3 h-[calc(100%-165px)] overflow-y-auto">
            <% for (let i = 0; i < 20; i++) { %>
                <div style="animation-delay: <%- i * .250 %>s;" class="acp_voters_skeleton animate__animated animate__fadeInUp ms-300 h-[78px] dark_border dark:bg-[#161b22] z-0 p-[8px] md:w-full cursor-pointer flex flex-row shadow-xl bg-gray-100 rounded-2xl transition-all">
                    <div class="flex flex-row w-full">
                        <div class="h-[60px] w-[60px] rounded-full object-cover skeleton-image"></div>
                        <div class="grid grid-flow-col flex-[80%]">
                            <div class="justify-center gap-1 w-full flex flex-col pl-3">
                                <span class="text-base dark:text-gray-400 skeleton w-40"></span>
                                <span class="text-sm dark:text-gray-400 skeleton w-32"></span>
                            </div>
                            <div class="w-full flex-row justify-end items-center flex">
                                <a class="skeleton rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-lg dark:text-cyan-600"></a>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>