<div class="settings_ fixed top-0 z-30 bg-darkBlue-primary/60 h-full w-full p-2 hidden justify-end items-center">
    <div animate-in="animate__animated animate__fadeInRight ms-300" animate-out="animate__animated animate__fadeOutRight ms-300" class="settings_main h-full w-96 sm:w-full bg-gray-100 dark:bg-darkBlue-secondary dark_border rounded-lg">
        <div class="w-full py-[10px] px-2 dark_border_b transform-all">
            <a class="close_settings rpl float-right rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-700">
                <i class="fad fa-times-circle"></i>
            </a>
            <a style="display: none;" class="back_settings px-1 rounded-md rpl text-gray-700 dark:text-gray-50 text-xl cursor-pointer">
                <i class="fas fa-arrow-left"></i>
            </a>
            <span class="font-bold dark:text-purple-500 text-purple-700 text-2xl p-1 pl-2">Settings</span>
        </div>
        <div class="preload_settings  h-[calc(100%-53px)] flex justify-center items-center">
            <i class="fad dark:text-purple-600 text-5xl animate-spin fa-spinner-third"></i>
        </div>
    </div>
</div>
