<div class="positions_ fixed top-0 z-30 bg-darkBlue-primary/60 w-full h-full p-2 hidden justify-end items-center">
    <div animate-in="animate__animated animate__fadeInRight ms-300" animate-out="animate__animated animate__fadeOutRight ms-300" class="positions_main h-full w-96 sm:w-full dark_border dark:bg-darkBlue-secondary bg-gray-100 rounded-lg">
        <div class="w-full py-[10px] px-2 dark_border_b">
            <a class="close_positions rpl float-right rounded-full p-2 justify-center flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-700">
                <i class="fad fa-times-circle"></i>
            </a>
            <span class="dark:text-purple-500 text-purple-700 text-2xl p-1">Positions</span>
        </div>
        <div class="positions_e_list flex flex-col h-[calc(100%-53px)] overflow-x-hidden">
            <div class="preload_positions h-full flex justify-center items-center">
                <i class="fad dark:text-purple-600 text-5xl animate-spin fa-spinner-third"></i>
            </div>
        </div>
    </div>
</div>