<!DOCTYPE html>
<html lang="en" class="font-sans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Election Title</title>
    <%- include('../cdn/_home') %>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
</head>
<body class="bg-gray-300 dark:bg-[#090c10] transition-all antialiased">
    <div class="election_details">
        <div class="header fixed top-0 z-30 w-full flex flex-row p-1 items-center bg-gray-50 dark:bg-[#161b22] shadow-md">
            <div class="flex-[20%] xl:flex-[50%] md:flex-[80%]">
                <div class="flex flex-row items-center transition-all">
                    <a href="/control" class="return_main transition-all text-gray-700 dark:text-gray-50 text-2xl cursor-pointer ml-3 mr-2">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <p class="m-0 p-3 text-lg font-medium cursor-pointer dark:text-gray-200">Election Settings</p>
                </div>
            </div>
            <div class="flex-[80%] xl:flex-[50%] md:flex-[20%]">
                <div class="nav_open_hidden hidden xl:w-full xl:flex justify-end mr-2">
                    <a class="cursor-pointer p-2 text-2xl rpl e_nav dark:text-gray-100">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="e_nav_main ms-300 transition-all animate__animated animate__slideInRight flex xsm:w-[95%] xl:hidden xl:w-[350px] xl:p-2 xl:fixed xl:right-0 xl:h-full xl:bg-gray-100 xl:dark:bg-[#171b22]  xl:top-0 xl:shadow-2xl xl:flex-col xl:justify-start xl:items-start flex-row justify-end items-center w-full">
                    <div class="hidden xl:flex xl:justify-end xl:items-end w-full">
                        <i class="cls_e_nav float-right text-red-700 text-2xl cursor-pointer pr-3 pt-3 dark:text-[#cccbcb]">
                            <i class="fa fa-times-circle"></i>
                        </i>
                    </div>
                    <div class="center_btns flex flex-row items-center justify-center mr-2 border-red-800 border-r-2 xl:pb-3 xl:border-r-0 xl:border-b-2 xl:flex xl:flex-col xl:w-full xl:gap-2 xl:justify-start xl:items-start xl:px-2 xl:mt-4 transition-all">
                        <a data="election_details" class="election_btn rpl nav_btn dark:text-gray-300">Home</a>
                        <a data="voters" class="election_btn rpl nav_btn dark:text-gray-300">Voters</a>
                        <a class="election_btn rpl nav_btn dark:text-gray-300">Candidates</a>
                        <a class="election_btn rpl nav_btn dark:text-gray-300">Partylist</a>
                        <a class="election_btn rpl nav_btn dark:text-gray-300">Results</a>
                        <a class="election_btn rpl nav_btn dark:text-gray-300">Settings</a>
                    </div>
                    <div class="xl:flex xl:justify-center xl:w-full xl:h-full xl:items-end xl:pb-2">
                        <div class="flex flex-row items-center justify-center mr-1">
                            <span class="mr-2 dark:text-purple-300">Status :</span>
                            <div class="bg-yellow-500  py-1 text-sm px-2 rounded-lg ">Not Yet Started</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="e_main_content animate__animated animate__bounceIn w-full px-2 py-1 mt-16 transition-all">
            <div class="container">
                <div class="text w-full flex justify-start sm:justify-center items-center px-3 py-2 transition-all">
                    <p class="font-medium text-2xl text-indigo-700 dark:text-gray-300">Status</p>
                </div>
                <div class="grid md:flex md:flex-col grid-cols-4 x p-2 gap-3 xl:grid-cols-3 md:grid-cols-2 xl:gap-4 transition-all">
                    <div data-color="#bdbdbd" class="rpl shadow-md bg-gray-50 dark:bg-[#161b22] rounded-md p-3 transition-all flex flex-col">
                        <div class="container flex">
                            <span class="font-medium p-1 dark:text-gray-50 dark:font-normal">Start Election</span>
                        </div>
                        <div class="container flex flex-row justify-center items-center h-full">
                            <button class="outline-none p-1" type="button">
                                <i class="fa fa-play text-4xl text-blue-800"></i>
                            </button>
                            <div class="container pr-8 md:pr-1">
                                <div class="container flex justify-end h-full items-center">
                                    <div class="hrs flex flex-row gap-2 justify-center items-center h-full">
                                        <div class="h font-bold text-4xl dark:text-gray-300">08</div>
                                        <span class="font-extrabold text-pink-700 h">:</span>
                                        <div class="m font-bold text-4xl dark:text-gray-300">00</div>
                                        <span class="font-extrabold text-pink-700 h">:</span>
                                        <div class="s font-bold text-4xl dark:text-gray-300">00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="text w-full flex justify-start sm:justify-center items-center px-3 py-2 transition-all">
                    <p class="font-medium text-2xl text-indigo-700 dark:text-gray-300">Details</p>
                </div>
                <div class="grid md:flex md:flex-col grid-cols-4 x p-2 gap-3 xl:grid-cols-3 md:grid-cols-2 xl:gap-4 transition-all">
                    <div data-color="#bdbdbd" class="rpl shadow-md bg-gray-50 dark:bg-[#161b22] rounded-md p-3 transition-all">
                        <div class="container p-1">
                            <p class="font-medium m-0 dark:text-gray-50 dark:font-normal">Election Title</p>
                        </div>
                        <div class="container mt-2 px-2">
                            <div class="text-main">
                                <div class="text-icon-left text-purple-600">
                                    <i class="fa fa-info text-xl"></i>
                                </div>
                                <input value="SSG Election" type="text" class="text-main-input rounded-lg focus:border-none focus:ring-2 ring-indigo-400 pl-8 pr-12 py-3 text-base font-medium dark:bg-transparent dark:text-gray-200" autocomplete="off" required>
                                <div class="text-icon-right text-gray-100 bg-green-500 dark:bg-green-700 dark:hover:bg-green-600 transition-colors py-2 px-3 rounded-tr-lg rounded-br-lg">
                                    <i class="fas fa-check text-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-color="#bdbdbd" class="rpl shadow-md bg-gray-50 dark:bg-[#161b22] rounded-md p-3 transition-all">
                        <div class="container flex">
                            <span class="font-medium p-1 dark:text-gray-50 dark:font-normal">Eligible Courses</span>
                        </div>
                        <div class="courses p-1 flex flex-wrap gap-2">
                            <div class="border border-purple-700 p-1 px-2 rounded-full cursor-pointer">
                                <span class="text-gray-900 dark:text-gray-300 font-medium">BSCS</span>
                                <button class="ml-1">
                                    <i class="fas fa-times-circle text-red-600"></i>
                                </button>
                            </div>
                            <div class="border border-green-700 p-1 px-2 rounded-full cursor-pointer">
                                <span class="text-gray-900 dark:text-gray-300 font-medium">GEN ED</span>
                                <button class="ml-1">
                                    <i class="fas fa-times-circle text-red-600"></i>
                                </button>
                            </div>
                            <div class="border border-red-700 p-1 px-2 rounded-full cursor-pointer">
                                <span class="text-gray-900 dark:text-gray-300 font-medium">BSED</span>
                                <button class="ml-1">
                                    <i class="fas fa-times-circle text-red-600"></i>
                                </button>
                            </div>
                            <div class="add_course flex justify-center items-center">
                                <button type="button" class="cursor-pointer px-1 outline-none">
                                    <i class="fas fa-plus-circle text-indigo-900"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="text w-full flex justify-start sm:justify-center items-center px-3 py-2 transition-all">
                    <p class="font-medium text-2xl text-indigo-700 dark:text-gray-300">Security</p>
                </div>
                <div class="grid md:flex md:flex-col grid-cols-4 x p-2 gap-3 xl:grid-cols-3 md:grid-cols-2 xl:gap-4 transition-all">
                    <div data-color="#bdbdbd" class=" dark:bg-[#161b22] shadow-md bg-gray-50 rounded-md p-4 transition-all">
                        <div class="container">
                            <span class="font-medium dark:text-gray-100 dark:font-normal">Election Passcode</span>
                        </div>
                        <form class="mt-3 px-2 flex flex-col gap-2">
                            <input type="text" value="gh77" name="passcode" class="text-input dark:bg-transparent dark:text-gray-200 focus:ring-indigo-800 transition-all focus:border-gray-300 w-full text-center py-2 px-3 my-ring-2 rounded-md border-gray-400 border" placeholder="Passcode" required>
                            <button class="button-input-active  dark:bg-green-700 dark:hover:bg-green-600 rpl" type="submit">Change</button>
                        </form>
                    </div>
                </div>
                <div class="container ">
                    <div class="text w-full flex justify-start sm:justify-center items-center px-3 py-2 transition-all ">
                        <p class="font-medium text-2xl text-indigo-700 ">Summary</p>
                    </div>
                    <div class="grid grid-cols-3 p-2 gap-3 xl:grid-cols-none xl:grid-rows-3 xl:gap-4 transition-all ">
                        <div data-color="#bdbdbd " class="rpl dark:bg-[#161b22] shadow-md bg-gray-50 rounded-md p-4 transition-all ">
                            <div class="flex flex-row gap-3 sm:flex-col transition-all ">
                                <div class="flex flex-row gap-2 sm:justify-center transition-all ">
                                    <div class="ic flex items-center ">
                                        <i class="fa fa-users text-6xl text-green-500 "></i>
                                    </div>
                                    <div class="text flex flex-col ml-3 mt-1 ">
                                        <span class="font-normal text-md tracking-wide dark:text-gray-300">Voters</span>
                                        <div class="text-4xl font-medium mt-1 tracking-wider dark:text-gray-100">300</div>
                                    </div>
                                </div>
                                <div class="flex w-full ">
                                    <div class="container flex justify-end items-center sm:mt-5 transition-all ">
                                        <a data-color="#bdbdbd " class="rpl sm:w-full sm:text-center cursor-pointer bg-gray-600 p-2 rounded-md text-gray-100 transition-all hover:-translate-y-1 ">View
                                        Voters</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-color="#bdbdbd " class="rpl dark:bg-[#161b22] shadow-md bg-gray-50 rounded-md p-4 transition-all ">
                            <div class="flex flex-row gap-3 sm:flex-col transition-all ">
                                <div class="flex flex-row gap-2 sm:justify-center transition-all ">
                                    <div class="ic flex items-center ">
                                        <i class="fa fa-balance-scale text-6xl text-yellow-500 "></i>
                                    </div>
                                    <div class="text flex flex-col ml-3 mt-1 ">
                                        <span class="font-normal text-md tracking-wide dark:text-gray-300">Partylist</span>
                                        <div class="text-4xl font-medium mt-1 tracking-wider dark:text-gray-100">3</div>
                                    </div>
                                </div>
                                <div class="flex w-full ">
                                    <div class="container flex justify-end items-center sm:mt-5 transition-all ">
                                        <a data-color="#bdbdbd " class="rpl sm:w-full sm:text-center cursor-pointer bg-gray-600 p-2 rounded-md text-gray-100 transition-all hover:-translate-y-1 ">View
                                        Partylist</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-color="#bdbdbd " class="rpl dark:bg-[#161b22] shadow-md bg-gray-50 rounded-md p-4 transition-all ">
                            <div class="flex flex-row gap-3 sm:flex-col transition-all ">
                                <div class="flex flex-row gap-2 sm:justify-center transition-all ">
                                    <div class="ic flex items-center ">
                                        <i class="fa fa-poll-people text-6xl text-purple-500 "></i>
                                    </div>
                                    <div class="text flex flex-col ml-3 mt-1 ">
                                        <span class="font-normal text-md tracking-wide dark:text-gray-300">Candidates</span>
                                        <div class="text-4xl font-medium mt-1 tracking-wider dark:text-gray-100">50</div>
                                    </div>
                                </div>
                                <div class="flex w-full ">
                                    <div class="container flex justify-end items-center sm:mt-5 transition-all ">
                                        <a data-color="#bdbdbd " class="rpl sm:w-full sm:text-center cursor-pointer bg-gray-600 p-2 rounded-md text-gray-100 transition-all hover:-translate-y-1 ">View
                                        Candidates</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/theme.js "></script>
    <script src="/js/time.js "></script>
    <script src="/js/avatar.js "></script>
    <script src="/control/js/election.js "></script>
    <script>
        $.ripple(".rpl", {
            debug: false,
            on: 'mousedown',
            opacity: 0.3,
            color: "auto",
            multi: false,
            duration: 0.7,
            rate: function(pxPerSecond) {
                return pxPerSecond;
            },
            easing: 'linear'
        })
    </script>
</body>
</html>