<div class="e_room_blur blur">
    <div class="e_room wmsu_box_dark wmsu_box animate__animated animate__bounceInDown">
        <i class="cls_e_room fa fa-times-circle"></i>
        <div class="e_room_header">
            <p class="e_room_t">Election Rooms</p>
        </div>
        <div class="e_room_list">
            <div class="e_room_vw_pager">
                <div class="vw_pager">
                    <a class="wmsu_btn" data-room="1">Room 1</a>
                    <a class="wmsu_btn" data-room="2">Room 2</a>
                    <a class="wmsu_btn" data-room="3">Room 3</a>
                    <a class="wmsu_btn" data-room="4">Room 4</a>
                    <a class="wmsu_btn" data-room="4">Room 4</a>
                    <a class="wmsu_btn" data-room="4">Room 4</a>
                    <a class="wmsu_btn" data-room="4">Room 4</a>
                </div>
                <div class="pager">
                    <div class="pager_main" data-room="1">
                        <div class="pager_info">
                            <p class="info_">Participants : <span class="info_cnt_partc info_cnt">100</span></p>
                            <p class="info_">Online : <span class="info_cnt_ol info_cnt">100</span></p>
                        </div>
                        <div class="action_info">
                            <a class="wmsu_btn join_room">Join Room</a>
                            <a class="wmsu_btn del_room">Delete Room</a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>