<div class="user_info fixed top-0 z-50 hidden justify-end items-center sm:items-end bg-darkBlue-primary/50 h-full w-full p-2 sm:p-0">
    <div animate-in="animate__animated animate__fadeInUp ms-300" animate-out="animate__animated animate__fadeOutDown ms-300" class="user_info_main w-96 sm:w-full h-full sm:h-5/6 rounded-lg sm:rounded-b-none dark_border dark:bg-darkBlue-secondary">
        <div class="w-full py-2.5 px-2 dark_border_b">
            <span class="dark:text-purple-500 text-purple-700 text-xl p-1">User Information</span>
            <a class="cls_user_info rpl float-right rounded-full p-2 pt-1 justify-center flex flex-row gap-2 items-center cursor-pointer text-xl dark:text-rose-600 text-rose-700">
                <i class="fad fa-times-circle"></i>
            </a>
        </div>
        <div class="user_info_list flex flex-col gap-3 px-2 py-2.5 h-[calc(100%-49px)] overflow-y-auto"></div>
    </div>
</div>