<div class="_menu wmsu_box">
    <div class="e_txt">
        <i class="cls_menu right pointer fa fa-times-circle red"></i>
        <p class="t normal">SSG Election</p>
    </div>
    <div class="tab">
        <div class="tab_btn">
            <button class="wmsu_btn">Results</button>
            <button class="wmsu_btn">Voters</button>
            <button class="wmsu_btn">Settings</button>
        </div>
        <div class="tab_main">
            
        </div>
    </div>
</div>