<div class="list_voters">
    <div class="list_action">
        <input type="text" name="s_v" class="wmsu_inpt wmsu_inpt_focus" placeholder="Search Voter">
        <select class="sort_voter wmsu_inpt">
            <option value="def">Default</option>
            <option value="BSCS">BSCS</option>
            <option value="BSED">BSED</option>
            <option value="BSED">GEN ED</option>
        </select>
        <i class="add_v fa fa-plus"></i>
    </div>
    <div class="voters">
        <%if(users.length != 0){
            for(var c = 0; c < users.length; c++){ %>
                <div class="voters_info wmsu_box <%= users[c]._id %>">
                    <table>
                        <tr>
                            <td width="10px"><img src="/assets/logo.png" class="voter_pic"></td>
                            <td><p class="name"><%= users[c].firstname + ' ' + users[c].middlename + ' ' + users[c].lastname %></p></td>
                            <td width="100px">
                                <% if(users[c].socket_id.toString() == "Offline") { %>
                                    <div class="badge badge_offline"></div>
                                <% } else if(users[c].socket_id.toString() == "Waiting For Socket") { %> 
                                    <div class="badge badge_wait"></div>
                                <% } else { %>
                                    <div class="badge"></div>
                                <% } %>
                                <i data-id=' +data.users[i]._id+ ' class="settings fa fa-cogs"></i>
                                <i data-id=' +data.users[i]._id+ ' class="msg fa far fa-comment-dots"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            <% } %>
        <% } %>
    </div>
</div>