<div class="log">
    <div class="log_txt">
        <p class="txt">Server Logs <button data="disabled" class="wmsu_inpt normal log_scroll">Auto Scroll</button></p>
    </div>
    <div class="logs"></div>
</div>