<div class="main_dash">
    <div class="dash_election">
        <div class="main_dash_t animate__animated animate__slideInLeft">
            <p class="dash_title">Elections</p>
        </div>
        <div class="dash_e">
           <%- include('election_list', elections) %>
        </div>
    </div>
    <div class="user_dash">
        <div class="main_dash_t animate__animated animate__fadeInDown">
            <select class="wmsu_inpt sort_users" name="sort_user">
                <option value="default">Sort Users</option>
                <option value="Online">Online</option>
                <option value="Offline">Offline</option>
            </select>
            <p class="dash_title">All Users</p>
        </div>
        <div class="dash_u">
            <%- include('users', users) %>
        </div>
    </div>
</div>
<div class="e_room_election">
    <%- include('election_room') %>
</div>
<div class="e_active_voters">
    <%- include('active_voters') %>
</div>
<script>
    document.onreadystatechange = () => {  
        setTimeout( () => {
            $(".main_dash").find(".animate__animated").removeClass("animate__animated")
        }, 1000) 
    }
</script>