<div class="theme_ fixed top-0 w-full h-full bg-darkBlue-primary/60 hidden justify-center items-end z-20">
    <div animate-in="animate__animated animate__fadeInUp ms-400" animate-out="animate__animated animate__fadeOutDown ms-400" class="theme_main w-96 h-auto bg-gray-50 dark:bg-darkBlue-secondary rounded-t-xl sm:rounded-t-2xl rounded-b-none dark_border">
        <div class="h-full flex flex-col w-full">
            <div class="w-full text-left py-2 dark_border_b">
                <a class="cls_themes float-right text-rose-600 mr-3 dark:text-rose-600 text-xl cursor-pointer">
                    <i class="fas fa-times-circle"></i>
                </a>
                <p class="dark:text-purple-500 px-3 font-bold text-2xl">Themes</p>
            </div>
            <div class="flex flex-col gap-3 px-3 py-2 mt-3">
                <div class="theme_btn_select theme_default rpl transition-all cursor-pointer grid grid-cols-3 items-center dark_border dark:bg-darkBlue-secondary rounded-lg p-2">
                    <span class="dark:text-gray-300 text-bluegray-900 col-span-2">Default Theme</span>
                    <div class="flex justify-end mr-1">
                        <div class="bg-gradient-to-tl from-purple-700 to-gray-50 ring-2 ring-offset-2 ring-offset-darkBlue-secondary ring-gray-50 flex flex-col h-4 w-4 rounded-full"></div>
                    </div>
                </div>
                <div class="theme_btn_select theme_dark rpl transition-all cursor-pointer grid grid-cols-3 items-center dark_border dark:bg-darkBlue-secondary rounded-lg p-2">
                    <span class="dark:text-gray-300 text-bluegray-900 col-span-2">Dark Theme</span>
                    <div class="flex justify-end mr-1">
                        <div class="bg-gradient-to-tl from-purple-700 to-darkBlue-primary ring-2 ring-offset-2 ring-offset-darkBlue-secondary ring-purple-700 flex flex-col h-4 w-4 rounded-full"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>