<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <%- include('../cdn/_error') %>
    <link rel="stylesheet" href="/css/tailwindcss/style.css">
</head>
<body class="bg-gray-300 dark:bg-[#090c10] transition-all antialiased h-screen">
    <div class="container flex flex-col justify-center items-center h-full">
        <div class="flex flex-row md:flex-col gap-3 md:gap-2">
            <div class="animate__animated animate__bounceIn transition-all text-gray-900 dark:text-gray-200 text-9xl xsm:text-8xl flex justify-center items-center border-r-4 border-gray-50 pr-8 mr-5 md:border-r-0 md:pr-0 md:mr-0 md:border-b-4 md:pb-8 md:mb-5">404</div>
            <div class="animate__animated animate__fadeInRight ms-500 text-gray-900 dark:text-gray-300 text-5xl flex justify-center items-center xsm:text-4xl">NOT FOUND</div>
        </div>
        <div class="mt-10 flex flex-col items-center">
            <p class="p text-rose-600 dark:text-sky-400 text-base text-center animate__animated animate__fadeInDown">The page you landed is <strong>moon</strong> not <strong>earth</strong></p>
            <a onclick="window.history.back()" href="#" class="animate__animated animate__fadeInUp uppercase mt-10 bg-green-500 dark:bg-green-700 px-4 py-2 rounded-full cursor-pointer font-medium text-base text-white dark:text-gray-300">Go Back To Earth</a>
        </div>
    </div>
    <script src="/js/theme.js"></script>
</body>
</html>
