<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body{
            padding: 0;
            margin: 0;
            background-color: #1c3658;
        }
        div {
            position: fixed;
            left: 50%;
            top: 50%; 
            transform: translate(-50%, -50%);
            width: 100%;
        }
        div  img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div>
        <img src="https://assets.materialup.com/uploads/c13818e8-9e42-4f4d-b657-38743a81b270/preview.gif">
    </div>
</body>
</html>