<div class="logs fixed top-0 z-20 bg-darkBlue-primary/50 w-full h-full hidden justify-center items-center sm:items-end">
    <div animate-in="animate__animated animate__fadeInUp ms-500" animate-out="animate__animated animate__fadeOutDown ms-500" class="logs_main dark:bg-darkBlue-secondary h-[90%] w-5/6 md:w-[95%] md:h-[95%] sm:w-full sm:h-5/6 shadow-md rounded-md sm:rounded-b-none dark_border">
        <div class="w-full dark_border_b flex justify-start items-center py-2.5 px-3">
            <p class="text-xl font-medium sm:text-lg dark:text-gray-300">Server Logs</p>
        </div>
        <div class="logs_main_list container h-[calc(100%-49px)] p-2 dark:text-green-700 overflow-y-auto break-words sm:text-xs transition-all">
            
        </div>
    </div>
</div>