<div class="notifications fixed z-20 top-0 bg-darkBlue-primary/50 w-full h-full hidden justify-end items-center sm:items-end p-2 sm:p-0 transition-all">
    <div class="notifications_main w-[400px] sm:w-full h-full sm:h-5/6 dark_border rounded-md sm:rounded-b-none shadow-md dark:bg-darkBlue-secondary" animate-in="animate__animated animate__fadeInUp ms-500" animate-out="animate__animated animate__fadeOutDown ms-500">
        <div class="w-full dark_border_b flex justify-start items-center py-2.5 px-3">
            <p class="text-xl font-medium sm:text-lg dark:text-gray-300">Notifications</p>
        </div>
        <div class="notifications_main_list container h-[calc(100%-49px)] p-2 overflow-y-auto transition-all">
            <div class="notifications_main_list_skeleton hidden w-full h-full justify-center items-center dark:text-purple-800 text-5xl">
                <i class="fad animate-spin fa-spinner-third"></i>
            </div>
        </div>
    </div>
</div>