.popup{
	position: fixed; 
	bottom: -50%; 
	right: 10px;
	padding: 10px;
	background-color: #298229;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
	border: none; 
	border-radius: 5px;
	width: 350px;
	height: auto;
	display: none;
}
.popup .title{
	font-size: 13.5pt;
	text-align: center;
	word-break: break-all;
	font-family: sans-serif;
	color: #f2f2f2;
	padding: 20px 10px; 
}
@media screen and (max-width: 1130px){
	.popup{
		bottom: 0px; 
		right: 0px;
		top: -50%; 
		left: 50%; 
		transform: translate(-50%, -50%);
		width: 90% !important;
		height: 71px;
		padding: 2px;
	}
}